<!DOCTYPE html>
	<html lang='pt-BR'>
	<head>
    <title>SOM - Sistema Operacional Da Música</title>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link defer rel="stylesheet" href="/css/fonts.css">
	<link defer rel="stylesheet" href="/css/reset.css">	
</head>
<body>
	<div id="app-container"></div>
	<script defer type='text/javascript' src='/build/app.bundle.js'></script>
	</body>
</html>