<!DOCTYPE html>
	<html lang='pt-BR'>
	<head>
    <title>SOM - Sistema Operacional Da Música</title>
    <meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link defer rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	
</head>
<body>
	<div id="app-container" />

		<script defer type='text/javascript' src='/build/app.bundle.js'></script>
	</body>
</html>