<!DOCTYPE html>
	<html lang='pt-BR'>
	<head>
    <title>SOM - Sistema Operacional Da Música</title>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link defer rel="stylesheet" href="/css/fonts.css">
	<link defer rel="stylesheet" href="/css/reset.css">	
	<!--[if IE]><link rel="shortcut icon" href="icons/favicon.ico"><![endif]-->
	<link rel="icon" href="icons/favicon.png">
	<meta name="google-site-verification" content="KlM2xS--s0DyKQwXbtEhndcf3EGXHUb2y4X2rI7NRiM" />
</head>
<body>
	<div id="app-container"></div>
	<script defer type='text/javascript' src='/build/app.bundle.js'></script>
	</body>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153619367-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-153619367-1');
	</script>
</html>