files:
  /home/ec2-user/myconfig.conf:
    content: |
      upstream nodejs {
          server 127.0.0.1:8081;
          keepalive 256;
      }
      server {
        listen 80;
        server_name _;
        if ($http_x_forwarded_proto = 'http'){
          return 301 https://$host$request_uri;
        }
      }
container_commands:
  move_nginx_config:
    command: "mv -f /home/ec2-user/myconfig.conf /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"