files:
  "/tmp/myconfig.conf":
    content: |
      upstream nodejs {
          server 127.0.0.1:8081;
          keepalive 256;
      }
      server {
        listen 80;
        server_name _;
        if ($http_x_forwarded_proto = 'http'){
          retn 301 https://$host$request_uri;
        }
      }
